[user]
        name = Clint J Edwards
        email = clint.j.edwards@gmail.com
        signingkey = 98CB4A5207195923
[core]
        editor = vim
[alias]
        logp = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
        gpgsign = true
[gpg]
        program = gpg
[url "git@github.com:"]
    insteadOf = https://github.com/
