[Unit]
Description=i3lock on suspend
Before=sleep.target

[Service]
User=clintjedwards
Environment=DISPLAY=:0
Type=forking
ExecStart=/home/clintjedwards/.config/i3/lock.sh

[Install]
WantedBy=sleep.target
