!-------------
!Xft settings
!-------------

Xft.dpi: 128
Xft.antialias: true
Xft.rgba: none
Xft.hintstyle: hintfull

!-------------
!URxvt settings
!-------------

URxvt.loginShell: true
URxvt.allow_bold: false
URxvt.font: xft:Inconsolata for Powerline:size=13
URxvt.boldFont: xft:Inconsolata for Powerline:size=13
URxvt.letterSpace: -1.5

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

!! Colors

*background: #424242
*foreground: #e9e6dc
*cursorColor: #d3d0c8


! Black dark/light
*color0: #2d3436
*color8: #2d3436

! Red dark/light
*color1: #ff7675
*color9: #ff7675

! Green dark/light
*color2: #badc58
*color10: #badc58

! Yellow dark/light
*color3: #ffeaa7
*color11: #ffeaa7

! Blue dark/light
*color4: #74b9ff
*color12: #74b9ff

! Magenta dark/light
*color5: #cc99cc
*color13: #cc99cc

! Cyan dark/light
*color6: #81ecec
*color14: #81ecec

! White dark/light
*color7: #dfe6e9
*color15: #dfe6e9
